# Tuple

In [1]:
tup = (1, 2, 3)
tup

(1, 2, 3)

In [2]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
tuple([7, 8, 9])

(7, 8, 9)

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

In [6]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [7]:
nested_tup[0]

(4, 5, 6)

In [8]:
nested_tup[1]

(7, 8)

In [9]:
nested_tup[0][2]

6

In [10]:
nested_tup[0][1]

5

In [14]:
tup = tuple(['foo', [1, 2], True])
tup

('foo', [1, 2], True)

In [15]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [17]:
tup[1].append(3)
tup

('foo', [1, 2, 3, 3], True)

In [18]:
tup[1].append(3)
tup

('foo', [1, 2, 3, 3, 3], True)

In [19]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [20]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### Unpacking tuples

In [21]:
tup = (4, 5, 6)
a, b, c = tup

In [22]:
b

5

In [23]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

### Swap Variables

In [24]:
a, b = 1, 2
print(a, b)

1 2

In [25]:
b, a = a, b
print(a, b)

2 1

In [27]:
a, b = b, a
print(a, b)

1 2

In [28]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [29]:
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [ ]:
values = 1, 2, 3, 4, 5, 6

In [ ]:
a, b, *rest = values

In [ ]:
a

In [ ]:
b

In [ ]:
rest

In [ ]:
a, b, *_ = values

In [ ]:
_

### Tupple Methods

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)